html {
  --TextColorLight: #8FA7B3;
  --bgHome: #ebf2f5;
  --bgColorLigth: #15c3d6;
  --bgColorDark: #12AFCB;
  --bgColorDarkHover: #17D6EB;
  
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

img {
  display: block;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 1rem;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: Light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
